.navbar{
  margin-bottom: 30px;
}

.item.card{
  margin: 20px;
  width: 200px;
}

.product-containet{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item.card a{
  font-style: 20px;
}

.bg-light{
  margin-bottom: 20px;
}

.item button{
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
}